.nav-link.active{
    color: black;
}
.nav-link, .nav-link.active, .btn-primary, .title, .testimonial-center-p-1{
    font-weight: bold;
}
.navbar-brand{
    width: 5rem;
}
.btn-primary{
    border-radius: 3px;
}
/* <!-- --------------------end of nav-------------------------------------     --> */


.title-bottom{
    color: gray;
    font-size: 0.8rem;
}
.banner{
    margin-top: 60px;
}
.photoshoot{
    background: #FF6A00;
    border-radius: 50px;
}
.photoshoot:hover{
    background: #FF6A00;
}
/* <!-- --------------------end of banner-------------------------------------     --> */

.commercial{
    width: 23rem;
    color: gray;
    font-weight: 500;
}
.media-grid img{
    width: 8%;
}
/* <!-- --------------------end of img-grid-------------------------------------     --> */

hr{
    background: gray;
}

.delivery-title{
    font-weight: bold;
}
.delivery-title-2{
    color: #FF6A00;
}
.delivery-h1-1{
    background: rgb(219, 227, 241);
}
.delivery-h1-2{
    color: #FF6A00;
    background-color: #eeded2;
}
.delivery-h1-3{
    background: rgb(226, 240, 226);
}
.delivery-h1{
    display: inline-block;
    width: 4.5rem;
    border-radius: 50%;
}
/* <!-- --------------------end of delivery-------------------------------------     --> */

.testimonial div:first-child, .testimonial div:nth-child(2), .testimonial div:nth-child(3){
    margin-bottom: 50px;
}
.testimonial div:nth-child(2){
    width: 50%;
}
.testimonial-bottom img{
    cursor: pointer;
}
.background{
    left: 8%;
    top: -6%;
    z-index: -1;
}
.testimonial-container, .deliver-container, .photo-container{
    margin-top: 100px;
    margin-bottom: 100px;
}

@media screen and (min-width: 1920px) {
    .col-lg-2{
        width: 369px;
        height: 369px;
    }
}
@media screen and (max-width: 1024px) {
    .media-grid img{
        width: 10%;
    }
    .testimonial div:last-child{
        margin-bottom: 50px;
    }
    .testimonial div:nth-child(2){
        width: 90%;
    }
}
@media screen and (max-width: 600px) {
    .title, .deliver{
        font-size: 1.5rem;
    }
    .commercial{
        width: 100%;
    }
    .media-grid img{
        width: 30%;
        margin: 5px;
    }
    .testimony img{
        width: 80%;
    }
    .testimonial div:nth-child(2){
        width: 100%;
    }
    .testimonial-container, .deliver-container, .photo-container{
        margin-top: 80px;
        margin-bottom: 80px;
    }
}